<nav class="nav-for-posts">
    <div class="container-2">
      <ul class="navbar-for-posts">
        <li><a href="{{ '/posts' | prepend: site.baseurl | prepend: site.url }}">random</a></li>   
        <li><a href="{{ '/posts/by-tag' | prepend: site.baseurl | prepend: site.url }}">by_tags</a></li>
        <!-- <li><a href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" target="_blank">RSS</a></li> -->
        <li><a href="{{ '/posts/by-year' | prepend: site.baseurl | prepend: site.url }}">by_year</a></li> 
      </ul>
    </div>
  </nav>
  