
<nav class="nav">
  <div class="container">
    <h1 class="logo"><a href="{{ '/' | prepend: site.baseurl | prepend: site.url }}"> {{ site.title_left }}<span>{{ site.title_right }}</span></a></h1>
    <ul class="navbar">
      <li><a href="{{ '/about' | prepend: site.baseurl | prepend: site.url }}">about_me</a></li>
      <li><a href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" target="_blank">RSS</a></li>
      <li><a href="{{ '/ayuda' | prepend: site.baseurl | prepend: site.url }}">help_me</a></li>
      <li><a href="{{ '/time' | prepend: site.baseurl | prepend: site.url }}">all_posts</a></li>
    </ul>
  </div>
</nav>
