<!-- Another way of sorting by tags (backbone copied from index)-->
<section class="post-list">
    <div class="container">
    {% assign sorted_posts = site.posts | sort: "tags" %}
    {% assign sorted_size = sorted_posts.size | minus: 1 %}
    {% for x in (0..sorted_size) %} 
        {% assign z = x | minus: 1 %}
        {% if x == 0 %}
          <h2 class="category-title">{{ sorted_posts[x].tags }}</h2>
        {% else %}
          <!-- this compares the current tag with the next tag -->
          {% assign tag = sorted_posts[x].tags %}
          {% assign ptag = sorted_posts[z].tags %}
          {% if tag != ptag %}
            <h2 class="category-title">{{ sorted_posts[x].tags }}</h2>
          {% endif %}
        {% endif %}
        <article class="post-item">
          <span class="post-meta date-label">{{ sorted_posts[x].date | date: "%b %d %y" }}</span>
          <div class="article-title"><a class="post-link" href="{{ sorted_posts[x].url | prepend: site.baseurl | prepend: site.url }}">{{ sorted_posts[x].title }}</a></div>
        </article>
    {% endfor %}
</div>
</section>

